@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=AmstelvarAlpha:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+6+Brands:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+6+Free:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    // @apply bg-slate-900 font-body px-5;
    color: black;
  }
}
@layer components {
  .page-container {
    @apply mx-auto 2xl:max-w-[1320px] lg:max-w-[1000px];
  }
  .nav-head {
    li {
      span {
        @apply absolute bottom-0 left-0 w-0 h-[2px] bg-black transition-all duration-300;
      }
      &:hover span {
        @apply w-full;
      }
      @apply relative px-2;
    }
    @apply flex flex-wrap xl:justify-between w-full leading-10 text-center cursor-pointer;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .trung_tam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
